<div class="nav-top-logo">CMS管理系统</div>
<ul class="layui-nav nav-top-bar" lay-filter="">
    <li class="layui-nav-item"><a href="">最新活动</a></li>
    <li class="layui-nav-item layui-this"><a href="">产品</a></li>
    <li class="layui-nav-item"><a href="">大数据</a></li>
    <li class="layui-nav-item"><a href="">社区</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon nav-top-bar-icon">&#xe612;</i>梦想星辰大海</a>
        <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a href="">个人信息</a></dd>
            <dd><a href="">修改密码</a></dd>
            <dd><a href="">退出登录</a></dd>
        </dl>
    </li>

</ul>